연습문제 2.1.1

In [268]:
3*2-8/4

4.0

In [269]:
25*6/13+17

28.53846153846154

In [270]:
39021-276920/12040

38998.0

In [271]:
2**6-10%6

60

연습문제 2.1.2

In [272]:
12-(5*7+1)

-24

In [273]:
5*(8+(10-6)/2)

50.0

In [274]:
48320-((365-5*9)/16)*987

28580.0

In [275]:
((3**4-3*7)%5+4)**2

16

연습문제 2.1.3

In [276]:
2 == 2

True

In [277]:
False == False

True

In [278]:
2 != 1

True

In [279]:
3 != 3

False

In [280]:
3 == 4

False

In [281]:
True == False

False

연습문제 2.1.4

In [282]:
(5<=6)&(3==4) # & = and

False

In [283]:
(2!=1)|(3>=4) # | = or

True

In [284]:
(5<=6)&((0==0)|(3<4))

True

연습문제 2.1.5

In [285]:
x=2 
y=2
z=2
j=2
k=2
i=2

In [286]:
(2*x-1)**2+1

10

In [287]:
x**(2*y)*(z+10)

192

In [288]:
((j==0)&(0<k))|(i<=100)

True

부동소수점 실수 (연습문제 2.2.1)

In [289]:
5e8 # 5e8 = 5.0 * 10000000 = 500000000.0

500000000.0

연습 문제 2.2.2

In [290]:
3141592e-6

3.141592

연습문제 2.2.3

In [291]:
1234==1000+200+30+4==4*10**0+3*10**1+2*10**2+1*10**3

True

연습문제 2.2.4

In [292]:
13 == 1*2**3 +  1*2**2 +0*2**1 + 1*2**0

True

In [293]:
bin(13)

'0b1101'

In [294]:
bin(129)

'0b10000001'

int = 정수
float = 실수
NaN = 숫자가 아닌 것
Inf = 무한대

### 파이썬으로 글자를 출력하기

print('') -> 대부분 해결 

*3등을 통해 여러번 하도록 만들 수 있음

숫자와 문자열을 같이 쓰려면 +로 합치되, str(3)으로 사용

한줄을 띄우려면 글 사이에 \n을 사용하면 됨

줄을 바꾸지 않으려면 end=''를 작성하면 됨

In [295]:
print('가나다라마바사\nabcd')

가나다라마바사
abcd

In [296]:
print('가나다라', end = "")
print('마바사')

가나다라마바사

In [297]:
# 따옴표 출력시 다른 따옴표 종류를 안에 사용
print("안녕 나는 '다람쥐'야")

안녕 나는 '다람쥐'야

In [298]:
print('''
      가나다
      라마바''')

# 따옴표를 세번씩 써서 여러줄의 문자열을 변수에 할당하거나 프린트 할 수 있다.

      가나다
      라마바

In [299]:
# 문자열 치환

x = "2020-12-25"
x.replace('-','')

'20201225'

## 2.4 파이썬의 문자열 형식화

문자열 %s
정수 %d
부동소수점 실수 %f

In [300]:
"내 이름은 %s입니다." % "홍길동"

'내 이름은 홍길동입니다.'

In [301]:
name = "Tom"
age = 13
print("%s is %d years old" % (name, age))

Tom is 13 years old

### 고급 형식지정 문자열

%is 전체 i칸을 차지하는 문자열 (공백을 앞에)
%-id 전체 i칸을 차지하는 문자열 (공백을 뒤에)
%.if 부동소수점의 소수점 아래 i자리까지 표시

In [302]:
a = 3
b = 12

result = a * b

print("%3d" % a)
print("%3d" % b)
print("--------")
print("%3d" % result)

  3
 12
--------
 36

### format 메서드를 사용한 문자열 형식화

In [303]:
"내 이름은 {}입니다.".format("홍길동")

'내 이름은 홍길동입니다.'

In [304]:
name = "Tom"
age = 13
print("{} is {} years old" .format(name, age))

Tom is 13 years old

### f 문자열

In [305]:
name = "홍길동"
age = 32
print(f"{name}의 나이는 {age}살이다.")

홍길동의 나이는 32살이다.

In [306]:
a = 3
b = 12

result = a * b

print(f"{a:3d}")
print(f"{b:4d}")
print("--------")
print(f"{result:4d}")

  3
  12
--------
  36

## 2.5 파이썬 조건문 기초

In [307]:
a = 2

if a % 2 == 0:
    print("짝수")
else:
    print("홀수")

짝수

In [308]:
b = 222

if (b >= 10) & (b < 100) & (b % 2 == 0):
    print("2자리 수의 짝수이다.")
else:
    print("2자리 수의 짝수가 아니다.")

2자리 수의 짝수가 아니다.

In [309]:
b= 2004

if (b % 4 == 0) & (b % 100 != 0) | (b % 400 == 0):
    print ("윤년")
else:
    print("윤년이 아님")

윤년

In [310]:
c = 8

if c >= 8:
    print("A")
elif c >= 5:
    print("B")
else:
    print("C")

A

In [311]:
c = 3

if c >= 10:
    print("1등급")
elif c >= 7:
    print("2등급")
elif c >= 4:
    print("3등급")
else:
    print("4등급")

4등급

In [312]:
XA = True
XB = True

if XA == True:
    if XB == True:
        a = "YA == 5, YB == 5"
    else:
        a = "YA == 0, YB == 10"
else:
    if XB == True:
        a = "YA == 10, YB == 0"
    else:
       a = "YA == 1, YB == 1"

print(a)

YA == 5, YB == 5

In [313]:
def ab(x):
    if x%2==0:
        y = print("짝수")
    else:
        y = print("홀수")
    return y

In [314]:
ab(3)

홀수

In [315]:
def ab(x):
    if (1,3,5,7,8,10,12):
        y = print("31")
    elif (4,6,9,11):
        y = print("30")
    else:
        y=print("28")
    return y

In [316]:
ab(3)

31

입력이 여러 개인 함수

In [317]:

def ab(b,x):
    if (b % 4 == 0) & (b % 100 != 0) | (b % 400 == 0):
        if x == (1,3,5,7,8,10,12):
            y = print("31")
        elif x == (4,6,9,11):
            y = print("30")
        else:
            y = print("29")
    else:
        if x == (1,3,5,7,8,10,12):
            y = print("31")
        elif x == (4,6,9,11):
            y = print("30")
        else:
            y=print("28")
    return y

In [318]:
ab(2004,4)

29

In [319]:
a = lambda x : 2 * x
a(2)

4

In [320]:
def ab(a,b,c):
    d = a+b+c
    e = a**2+b**2+c**2
    f = print(abs(d-e))
    return f

In [321]:
ab(1,2,3)

8

In [322]:
m=2

def ab(a,b,c):
    global m
    d = a+b+c
    e = a**2+b**2+c**2
    f = abs(d-e)
    if f >= m:
        m = f
        return f
    else:
        return f

In [323]:
ab(1,2,3)

8

## 2.7 파이썬 for 반복문

In [324]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [325]:
for i in range(10):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [326]:
for i in range(10,0,-1):
    print("*"*i)

**********
*********
********
*******
******
*****
****
***
**
*

In [327]:
for i in range(10):
    print("*"*i)
for i in range(10,0,-1):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [328]:
total_rows = 11

for i in range(1, total_rows + 1, 2):
    spaces = (total_rows - i) // 2
    print(' ' * spaces + '*' * i)

for i in range(total_rows - 2, 0, -2):
    spaces = (total_rows - i) // 2
    print(' ' * spaces + '*' * i)

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

## 2.8 여러 개의 자료를 한 변수에 담기

In [333]:
score = [1,2,3,4,5]
a = sum(score)/5
print(a)

3.0

In [335]:
days = {"01":31, "02":28, "03":31, "04":30, "05":31, "06":30, "07":31, "08":30, "09":31, "10":30,"11":31,"12":30}

In [343]:
a = ["02", "04", "06", "08", "10", "12"]
b = [days[month] for month in a]

c = sum(b) / 6
print(c)

29.666666666666668

## 2.9 파이썬에서 리스트 자료형 다루기

In [346]:
a = ["a","b","c","d","e","f"]
a.append("g")
print(a)
a.remove("a")
print(a)
a[4:]

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['b', 'c', 'd', 'e', 'f', 'g']

['f', 'g']

## 2.10 리스트와 반복문을 사용하여 계산하기

In [347]:
grades = [4, 3, 2, 3, 4]
credits = [3, 3, 1, 2, 2]

weighted_sum = 0
total_credits = 0

for i in range(len(grades)):
    weighted_sum += grades[i] * credits[i]
    total_credits += credits[i]

gpa = weighted_sum / total_credits


print(gpa)

3.3636363636363638

In [353]:
X=[6,5,4,7,3,5]
a=sum(X)/len(X)

b=0
for i in range(len(X)):
    b += (X[i]-a)**2
    
print(b/len(X))

1.6666666666666667

In [357]:
x = [
  ["길동", 90],
  ["철수", 80],
  ["영수", 70],
  ["방자", 60],
]
a,b = zip(*x)
list(a)

['길동', '철수', '영수', '방자']


## 2.11 파이썬에서 딕셔너리 자료형 다루기

In [370]:
data = {
    "철수": 98,
    "영희": 80,
    "순이": 100,
    "돌이": 70,
}
for name, score in data.items():
    print(f"{name:<5} {score:>3}")
print("=" * 20)

average = sum(data.values()) / len(data)
print(f"평균 {average:>6.0f}")

철수     98
영희     80
순이    100
돌이     70
====================
평균     87

## 2.12 파이썬 객체지향 프로그래밍

In [380]:
class Triangle:
    def __init__(self, b, h):
        self.b = b
        self.h = h

    def area(self):
        return 0.5 * self.b * self.h


triangle = Triangle(10, 5)
print("삼각형의 넓이:", triangle.area())

삼각형의 넓이: 25.0

In [381]:
class Student:
    def __init__(self, student_id, name, math, english):
        self.student_id = student_id
        self.name = name
        self.math = math
        self.english = english

    def average(self):
        return (self.math + self.english) / 2

    def __str__(self):
        return self.name

    def __getitem__(self, subject):
        if subject == "math":
            return self.math
        elif subject == "english":
            return self.english
        else:
            raise KeyError(f"Invalid subject: {subject}")

student = Student(12345, "홍길동", 95, 88)

print("이름:", student)
print("학번:", student.student_id)

print("평균 성적:", student.average())

print("수학 성적:", student["math"])
print("영어 성적:", student["english"])

이름: 홍길동
학번: 12345
평균 성적: 91.5
수학 성적: 95
영어 성적: 88

## 2.14 파이썬의 자료형

In [384]:
today = "2024-8-21"
birthday = "2003-11-14"

a = today.replace("-","")[:4]
b = birthday.replace("-","")[:4]
c = today.replace("-","")[4:]
d = birthday.replace("-","")[4:]

e = int(a)-int(b)

if int(c) - int(d):
    print(e-1)
else:
    print(e)

20

## 2.15 파이썬에서 날짜와 시간 다루기

In [385]:
import datetime as dt

In [391]:
from datetime import datetime

birthday = "2003-11-14"

a = datetime.strptime(birthday, "%Y-%m-%d")

b = a.strftime("%Y년 %m월 %d일 %A")

print(b)

2003년 11월 14일 Friday

In [390]:
from datetime import datetime

birthday = datetime(2003, 11, 14)

today = datetime.today()

age = today.year - birthday.year

if (today.month, today.day) < (birthday.month, birthday.day):
    age -= 1

print(age)

20

In [397]:
from datetime import datetime, timedelta

birthday = datetime(2003, 11, 14)

today = datetime.today()

next = datetime(today.year + 1, birthday.month, birthday.day)

if today > next:
    next = datetime(today.year + 2, birthday.month, birthday.day)

day = (next - today).days

print(day)
print(day * 24 * 60)

449
646560