In [6]:
# 2.1.1
3 * 2 - 8 / 4
25 * 6 / 3 + 17
39021 - 276920 / 12040
2 ** 6 - 10 % 6

60

In [7]:
#2.1.2
12 - (5 * 7 + 1)
5 * (8 + (10 - 6) / 2)
48320 - ((365 - 5 *9) / 16) *987
((3 ** 4 - 3 * 7) % 5 + 4)**2

16

In [8]:
#2.1.3
1 < 3
2 < 3
3 <= 3

1 > 3
2 > 3
3 != 3

False

In [11]:
#2.1.4
print((5 <= 6) & (3 == 4))
print((2 != 1) | (3 >= 4))
print((5 <= 6) & ((0 == 0) | (3 < 4)))

False
True
True

In [13]:
#2.1.5
x = 1
y = 2
z = 3
j = 4
k = 5
i = 6
print((2*x - 1)**2 + 1)
print(x ** (2*y) * (z + 10))
print(((j == 0) & (0 < k)) | i <= 100)

2
13
True

In [14]:
#2.2.1
print(5*10**8)
print(5.6 * 10 ** 3)
print(-2.1 * 10 ** 2)
print(-3.4 * 10 ** (-1))

500000000
5600.0
-210.0
-0.34

In [18]:
#2.3.1
print('Beautiful is better than ugly.\nExplicit is better than implicit.\nSimple is better than complex.\nComplex is better than complicated.\nFlat is better than nested.\nSparse is better than dense.')

s = '@'
n1 = 6
print(s*n1)
print(s,' '*2,s)
print(s,' '*2,s)
print(s,' '*2,s)
print(s*n1)

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
@@@@@@
@    @
@    @
@    @
@@@@@@

In [23]:
#2.3.2
s = "2020-12-25"
s = s.replace('-','')
print(s)

20201225

In [25]:
#2.4.1
name = 'tom'
age = 13
print(name, 'is', age, 'years old')

a = 10
b = 3
"%d / %d = %f" % (a, b, a/b)

tom is 13 years old

'10 / 3 = 3.333333'

In [36]:
#2.4.2
a = 3
b = 12
print('```')
print('%8s' % a)
print('x', end = '')
print('%7s' % b)
print('---------')
print('%8s' % (a*b))
print('```')

a = 123456
b = 7890
print('```')
print(f"{a:>10,}")
print(f"+{b:>9,}")
print("----------")
print(f"{a + b:>10,}")
print('```')

```
       3
x     12
---------
      36
```
```
   123,456
+    7,890
----------
   131,346
```

In [37]:
#2.4.3
a = 3
b = 12
print(f"{a:>10}")
print(f"x{b:>9}")
print("----------")
print(f"{a * b:>10}")

         3
x       12
----------
        36

In [38]:
#2.5.1
a = 2
if a % 2 == 0:
    print('짝수')
else:
    print('홀수')

짝수

In [39]:
#2.5.1
b = 56
if (b >= 10) & (b < 100) & (b % 2 == 0):
    print("2자리 수의 짝수이다.")
else:
    print("2자리 수의 짝수가 아니다.")

2자리 수의 짝수이다.

In [40]:
#2.5.2
year = 2024
if (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0):
    print('윤년임')
else:
    print('윤년 아님')

윤년임

In [41]:
#2.5.3
c = 10

if c >= 8:
    print("A")
elif c >= 5:
    print("B")
else:
    print("C")

A

In [43]:
#2.5.4
w = 2
if w > 10:
    print('1등급')
elif w > 7:
    print('2등급')
elif w>4:
    print('3등급')
else:
    print('4등급')

4등급

In [48]:
#2.5.5
xa = False
xb = False
if (xa + xb == 1) and xa == True:
    YA = 10
    YB = 0
elif (xa + xb == 1) and xb == True:
    YA = 0
    YB = 10
elif xa + xb == 2:
    YA = 5
    YB = 5
else:
    YA = 1
    YB = 1
print(YA, YB)

1 1

In [51]:
#2.6.1
def func(n):
    if n % 2 == 0:
        print('짝수')
    else:
        print('홀수')

func(19)

홀수

In [52]:
#2.6.1
def funcyear(year):
    if (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0):
        print('윤년임')
    else:
        print('윤년 아님')

funcyear(2024)

윤년임

In [53]:
#2.6.2
def days1(year):
    if year in (1, 3, 5, 7, 8, 10, 12):
        print(31)
    elif year == 2:
        print(28)
    else:
        print(30)
days1(11)

30

In [56]:
#2.6.3
def days2(year, month):
    if month in (1, 3, 5, 7, 8, 10, 12):
        print(31)
    elif month in (4, 6, 9, 11):
        print(30)
    else:
        if (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0):
            print(29)
        else:
            print(28)

days2(2024,2)

29

In [58]:
#2.6.4
def diffsum(a, b, c):
    s1 = a + b + c
    s2 = a**2 + b**2 + c**2
    return abs(s1 - s2)

diffsum(1,2,1)

2

In [61]:
#2.6.5
m = 0
def diffsum2(a,b,c):
    s1 = a + b + c
    s2 = a**2 + b**2 + c**2
    result = abs(s1 - s2)
    global m
    if result > m:
        m = result

diffsum2(1,2,3)
print(m)

8

In [1]:
#2.7.1
for i in range(11):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [2]:
#2.7.2
for i in range(10, 0, -1):
    print('*'*i)

**********
*********
********
*******
******
*****
****
***
**
*

In [3]:
#2.7.3
for i in range(20):
    if i <= 10:
        print('*'*i)
    else:
        print('*'*(20-i))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [10]:
#2.7.4
for i in range(12):
    if i <= 6:
        print(' '*(6-i), end = '')
        print('*'*(2*i-1))
    else:
        print(' '*(i-6), end = '')
        print('*'*(23-2*i))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [14]:
#2.7.7
s = 0
k = 0
n = 4
for i in range(n):
    s = s + i
    k = s + k

print(k)

10

In [15]:
#2.8.1
l = [1,2,3,4,5]
sum(l)/len(l)

3.0

In [25]:
#2.8.2
days = {'01':31, '02':28, '03':31, '04':30, '05':31, '06':30, '07':31, '08':31, '09':30, '10':31, '11':30, '12':31}
l = list(days.values())
l2 = []
for i in range(1,7):
    l2.append(l[2*i-1])
sum(l2)/len(l2)

30.166666666666668

In [30]:
#2.9.1
name = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
name.append('k')
name.remove('a')
name2 = name[4:9]
print(name)
print(name2)

['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
['f', 'g', 'h', 'i', 'j']

In [34]:
#2.10.1
x = [4, 3, 2, 3, 4]
w = [3, 3, 1, 2, 2]
sw = sum(w)
swx = 0
for i in range(5):
    swx = swx + x[i] * w[i]
print(swx / sw)

37
37
3.3636363636363638

In [36]:
#2.10.2
x = [6, 5, 4, 7, 3, 5]
avg = sum(x) / len(x)
sq = 0
for i in range(6):
    sq = sq + (avg - x[i])**2
print(sq / len(x))

1.6666666666666667

In [41]:
#2.10.3

x = [
  ["길동", 90],
  ["철수", 80],
  ["영수", 70],
  ["방자", 60],
]
x1, x2, x3, x4 = x
names = list(zip(x1,x2,x3,x4))
onlynames = names[0]
print(onlynames)

('길동', '철수', '영수', '방자')

In [54]:
#2.11.1
data = {
    "철수": 98,
    "영희": 80,
    "순이": 100,
    "돌이": 70,
}
datakey = list(data.keys())
dataval = list(data.values())
for i in range(4):
    print(datakey[i], f'{dataval[i]:>10}')
print('='*15)
print(f'평균{int(sum(dataval)/len(dataval)):>11}')

철수         98
영희         80
순이        100
돌이         70
===============
평균         87

In [4]:
#2.12.1
class tr(object):
    def __init__(self, b, h):
        self.b = b
        self.h = h
    
    def area(self):
        return self.b * self.h * 0.5

a = tr(2,3)
a.area()

3.0

In [6]:
#2.12.2
class sq(object):
    def __init__(self, a, b, h):
        self.a = a
        self.b = b
        self.h = h
    def surface(self):
        return (a*b + a*h + b*h) * 2

In [8]:
#2.12.3
class character(object):

    def __init__(self):
        self.life = 1000
        self.strength = 10
        self.intelligence = 10
    
    def attacked(self):
        self.life -= 10
        print('공격 받음! 생명력 =', self.life)
    
    def attack(self):
        print('공격!')

class warrior(character):
    
    def __init__(self):
        super(warrior, self).__init__()
        self.strength = 15
        self.intelligence = 5
        self.life = 1000
    
    def attack(self):
        print('육탄 공격!')

    def attacked(self):
        self.life -= 5
        print('공격 받음! 생명력 =', self.life)

class wizard(character):

    def __init__(self):
        super(wizard, self).__init__()
        self.strength = 5
        self.intelligence = 15
        self.life = 1000

    def attack(self):
        print('마법 공격!')
    
    def attacked(self):
        self.life -= 3
        print('공격 받음! 생명력 =', self.life)

In [16]:
#2.12.4
class car(object):

    def __init__(self):
        self.max_speed = 160
        self.speed = 0
    
    def speed_up(self):
        self.speed += 20
        if self.speed > self.max_speed:
            self.speed = self.max_speed
            print('speed =', self.max_speed)
        else:
            print('speed =', self.speed)

    def speed_down(self):
        self.speed -= 20
        if self.speed < 0:
            print('speed =', 0)
        else:
            print('speed =', self.speed)

a = car()
a.speed_up()
a.speed_up()
a.speed_up()
a.speed_up()
a.speed_up()
a.speed_up()
a.speed_up()
a.speed_up()
a.speed_up()
a.speed_up()
a.speed_down()

speed = 20
speed = 40
speed = 60
speed = 80
speed = 100
speed = 120
speed = 140
speed = 160
speed = 160
speed = 160
speed = 140

In [18]:
#2.12.5
class car(object):

    def __init__(self):
        self.max_speed = 160
        self.speed = 0
    
    def speed_up(self):
        self.speed += 20
        if self.speed > self.max_speed:
            self.speed = self.max_speed
            print('speed =', self.max_speed)
        else:
            print('speed =', self.speed)

    def speed_down(self):
        self.speed -= 20
        if self.speed < 0:
            print('speed =', 0)
        else:
            print('speed =', self.speed)

class sportcar(car):

    def __init__(self):
        super(sportcar, self).__init__()
        self.max_speed = 200
        self.speed = 0
    
    def speed_up(self):
        self.speed += 45
        if self.speed > self.max_speed:
            self.speed = self.max_speed
            print('speed =', self.max_speed)
        else:
            print('speed =', self.speed)

    def speed_down(self):
        self.speed -= 45
        if self.speed < 0:
            print('speed =', 0)
        else:
            print('speed =', self.speed)

class truck(car):

    def __init__(self):
        super(truck, self).__init__()
        self.max_speed = 100
        self.speed = 0
    
    def speed_up(self):
        self.speed += 15
        if self.speed > self.max_speed:
            self.speed = self.max_speed
            print('speed =', self.max_speed)
        else:
            print('speed =', self.speed)

    def speed_down(self):
        self.speed -= 15
        if self.speed < 0:
            print('speed =', 0)
        else:
            print('speed =', self.speed)

b = truck()
b.speed_up()
b.speed_up()
b.speed_up()
b.speed_up()
b.speed_up()
b.speed_up()
b.speed_up()
b.speed_up()
b.speed_up()
b.speed_up()

speed = 15
speed = 30
speed = 45
speed = 60
speed = 75
speed = 90
speed = 100
speed = 100
speed = 100
speed = 100

In [15]:
#2.12.6
class student(object):
    def __init__(self, id, name, ms, es):
        self.id = id
        self.name = name
        self.ms = ms
        self.es = es
    
    def avg(self):
        return (self.ms + self.es) / 2
    
class student2(student):
    def __repr__(self):
        return "id: %s, name: %s" % (self.id, self.name)
    
    def __str__(self):
        return self.name

class student3(student):
    def __getitem__(self, key):
        if key == 'ms':
            return self.ms
        if key == 'es':
            return self.es
        

s2 = student2('c321027', 'sejeans', 100 , 200)
print(str(s2))
s3 = student3('c321027', 'sejeans', 100 , 200)
print(s3['ms'])
print(s3['es'])
s2

sejeans
100
200

id: c321027, name: sejeans

In [59]:
#2.14.1
today = '2024-8-21'
birthday = '2003-12-15'
today = today.replace('-', '')
birthday = birthday.replace('-','')
yeartoday = int(today[:4])
yearbirthday = int(birthday[:4])
datetoday = int(today[4:])
datebirthday = int(birthday[4:])

year = yeartoday - yearbirthday

if datetoday < datebirthday:
    age = year - 1
else:
    age = year

print(age)

20

In [60]:
import datetime as dt

In [68]:
#2.15.1
x = dt.datetime(2003, 12, 15)
print(x.strftime('%Y년 %m월 %d일 %A요일'))

2003년 12월 15일 Monday요일

In [77]:
#2.15.2
b = dt.date(2003,12,15)
t = dt.date.today()
age = t.year - b.year
if t.month < b.month:
    age = age - 1
elif t.month == b.month and t.day < b.day:
    age = age -1

print(age)

20

In [78]:
from dateutil.parser import parse

In [82]:
#2.15.3
birthd = dt.datetime(2025, 12, 15)
today = dt.datetime.today()
td = birthd - today
print(td)

print(td.total_seconds()/60)

480 days, 2:25:35.306753
691345.5884458834

In [83]:
from dateutil.relativedelta import relativedelta

In [89]:
#2.15.4
t = dt.date(2000, 1, 31)
print(t + relativedelta(month = 2))

t2 = t + relativedelta(month = 2)
print(t2 + relativedelta(months=12))

2000-02-29
2001-02-28